.places-slidepanel.slidepanel
  .hide-slidepanel.glyphicon.glyphicon-remove.pull-right
  %h4.slidepanel-title= t('places')
  .content
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#collapseThree"}
            Collapsible Group Item #3
      #collapseThree.panel-collapse.collapse
        .panel-body
          #accordion.panel-group.places-list
            // Template goes here

.panel.panel-default.accordion-panel-template
  .panel-heading
    %h4.panel-title
      %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseId"}
        .triangle.glyphicon.glyphicon-triangle-bottom
        %span.name
      .place-list-header-buttons
        .glyphicon.glyphicon-pencil.edit-place
        .glyphicon.glyphicon-search.zoom-to-place
  #collapseOne.panel-collapse.collapse.in
    .panel-body{dir: "#{text_direction}"}
      .col-xs-12.margin-below.description
      %i.col-xs-12.address
