input {
  width: 100%;
}

.popup {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 50px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
}

textarea {
  width: 100%;
}

.place-form-button {
  width: 100%;
}

.nicEdit-main {
 height: 300px;
 resize: all;
 overflow-y: auto !important;
}

// Review table layout
#review_table{
  width: 100%;
}

.last_reviewed_version{
  width: 50%;
  padding: 10px;
}

.recent_unreviewed_version{
  width: 50%;
  padding: 10px;
}

.review_table_head, .review_table_headline{
  text-align: center;
}

.review_table_locale_header{
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}
