-# Categories
%tr
  %td
    %h4
      = t('categories')
  %td
    %h4
      = t('categories')
%tr
  %td.last_reviewed_version-categories
    = generate_categories_filter_links(@last_reviewed_place) if @last_reviewed_place
  %td.recent_unreviewed_version-categories
    - if @place.has_history?(@place)
      = generate_categories_filter_links(@place)
