.text-center.margin-below
  .h2= t('last_reviewed_place')
.text-center.margin-below
  .h4 POI features
- if @place.last_reviewed_place
  %p
    %b
      name:
    = @place.last_reviewed_place.name
  %p
    %b
      address:
    = @place.last_reviewed_place.address
- else
  %p
    No reviewed version so far!
