-# NAME
.place_features
  %h4
    = t('place_features')
  .place_features-name
    - if @place.has_history?(@place) || !@place.reviewed
      %b
        name:
      = raw @last_reviewed_place && Differ.diff_by_char(@last_reviewed_place.name, @place.name) || @place.name
    - else
      No recent changes

  -# ADDRESS
  - if @place.has_history?(@place) || !@place.reviewed
    %p
      %b
        address:
      = raw @last_reviewed_place && Differ.diff_by_char(@last_reviewed_place.address, @place.address) || @place.address
  - else
    %p
      No recent changes

  -# Version browsing
  = provide_place_version_browsing
