-# NAME
.place_features
  %h4
    = t('place_features')
  .place_features-name
    - if !@place.reviewed
      %b
        name:
      = raw @last_reviewed_place && Differ.diff_by_char(@place.name, @last_reviewed_place.name) || @place.name

  -# ADDRESS
  .place_features-address
    - if !@place.reviewed
      %p
        %b
          address:
        = raw @last_reviewed_place && Differ.diff_by_char(@place.address, @last_reviewed_place.address) || @place.address
    - else
      No recent changes

  -# Version browsing
  = provide_place_version_browsing
