-# NAME
%tr
  %td.review_table_head
    .h3
      = t('last_reviewed_version')
    %p
      [who]
    %p
      [when]
  %td.review_table_head
    .h3
      = t('unreviewed_changes')
    %p
      [who]
    %p
      [when]
